html {
  border: solid orange;
  border-width: thick;
}

.bg {
  background-color: black;
}

.container {
  color: white;
  z-index: 1;
}

.row {
  z-index: 1;
}

body {
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.overlay h3 {
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#directions {
  color: orange;
}